<div class="general-container">
  <div class="field-container">
    <div class="field-row" *ngFor="let row of fieldArr">
      <div class="field-item" *ngFor="let item of row" (click)="clickByUser(item)">
        {{item.value}}
      </div>
    </div>
  </div>
  
  <button (click)="resetGame()">Reset</button>
  
  <p *ngIf="winner">
    The game is over
  
    <ng-template [ngIf]="winner == 'X'" [ngIfElse]="opponent">
      <h2 class="green">
        You WON!
      </h2>
    </ng-template>
    
    <ng-template #opponent>
      <h2 class="red">
        You LOOSE!
      </h2>
    </ng-template>
  </p>
  
</div>